---
import Layout from "../layouts/Layout.astro";
const title = 'Blog - luisfalconmx';
---

<Layout title={title}>
  <h1>{title}</h1>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    <li><a href="/blog/post-1/">Post 1</a></li>
  </ul>  
</Layout>
