---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero'
import ProfilePicture from '../assets/images/profile.png'
---

<Layout title="luisfalconmx - Frontend Developer">
  <main>
    <Hero
      image={ProfilePicture}
      title="👋 Hey there, It's Luis Falcon."
      headline="Frontend Developer"
      description="I'm passionate about JavaScript, open source projects and the dev communities."
    />
  </main>
</Layout>
