---
import Layout from '../layouts/Layout.astro'
import Button from '../components/Button'
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-2xl font-bold text-indigo-600">Welcome to luisfalconmx</h1>
    <Button>Contact</Button>
  </main>
</Layout>
